body {
    padding: 2em;
}

#word_list > li {
    list-style: decimal inside;
    display: list-item;
}

.ellipsis {
    display: -webkit-flex;
    display: flex;
}
.ellipsis .ellipsis-item {
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis .badge {
    margin: 1px 0 1px 4px;
}